<!DOCTYPE html>
<html>
<head>
	<title>Custom Websites from Coughlin Designs</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Saira+Extra+Condensed" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="navbar">
		<div id="nav-inner">
			<h3 id="brand"><a href="#banner" id="nav-home">COUGHLIN DESIGNS</a></h3>
			<div id="page-links">
    			<ul>
    				<li><a href="#about" id="nav-about">About</a></li>
    				<li><a href="#services" id="nav-services">Services</a></li>
    				<li><a href="#contact" id="nav-contact">Contact</a></li>
    				<li><a href="/portfolio">Portfolio</a></li>
    			</ul>
			</div>
			<div id="social-links">
    			<ul>
    				<li><a href="https://www.facebook.com/Coughlin-Designs-127583511295705/"><i class="fa fa-facebook"></i></a></li>
    				<li><a href="https://twitter.com/CoughlinDesigns"><i class="fa fa-twitter"></i></a></li>
    			</ul>
			</div>
		</div>
	</div>
	<div id="page-content">
		<div id="banner">
            <div class="content">
                <h1 style="color: white">COUGHLIN DESIGNS</h1>
                <p>Clean, Modern, Beautiful Websites</p>
                <a href="#contact"><button id="quote-btn" class="btn">Get a Quote</button></a>
            </div>
        </div>
        <div id="about">
        	<table>
        		<tr>
        			<td>
        				<img src="https://scontent.fewr1-3.fna.fbcdn.net/v/t1.0-9/14572792_10207378310277914_6874373618904968904_n.jpg?oh=6e7ba62191f024531c9190573bb1e145&oe=5A7CE33D" id="profile-pic">
        			</td>
        		</tr>
        		<tr>
        			<td>
        				<p id="header">
	                		My name is <strong class="bold">William Coughlin</strong> and I'm a <strong class="bold">one-man web development team</strong>.
	                		I run <strong class="bold">Coughlin Designs</strong> by myself, and my goal is to create <strong class="bold">clean, beautiful</strong> and <strong class="bold">functional</strong> websites for <strong class="bold">people</strong> and <strong class="bold">businesses</strong>.
	            		</p>
	            	</td>
	            </tr>
	            <tr>
	            	<td>
	            		Coughlin Design is based out of Cape May, New Jersey. I've lived in Cape May my entire life. After leaving college due to some personal issues, I began to learn how to program on my own. I spent some time playing around with game development, then I decided to get into web development. I set out learning web development, figuring out the basics and then moving onto the more advanced parts. Now I'm ready to put my work out into the world.
	            	</td>
	            </tr>
	            <tr>
	            	<td>
	            	    <br />
	            		My goal with Coughlin Design is to provide great looking and functional websites. All of my sites are responsive and mobile-friendly and feature clean designs. Whether you need a website for your small business, an e-commerce website for your product, or a personal website for your dog, I can create an attractive and functional website for you.
	            	</td>
	            </tr>
	        </table>
	        <br />
        </div>
        <div id="services">
            <div id="services-content">
            	<h1>What I Offer</h1>
            	<h4>Specializing in beautiful and clean websites</h4>
            	<h4>All my websites feature responsive designs</h4>
            	<table>
            		<thead>
            			<th>
            				<h3>Personal Websites</h3>
            			</th>
            			<th>
            				<h3>Small Business Websites</h3>
            			</th>
            			<th>
            				<h3>Ecommerce Websites</h3>
            			</th>
            		</thead>
            		<tr>
            			<td class="odd">
            				<h5>A small website for anything you want to share with the world.</h5>
            			</td>
            			<td>
            				<h5>A website for your small business</h5>
            			</td>
            			<td class="odd">
            				<h5>A website to sell your product(s) online.</h5>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				<h5>Starting at $1000.</h5>
            			</td>
            			<td class="odd">
            				<h5>Starting at $2000.</h5>
            			</td>
            			<td>
            				<h5>Starting at $5000.</h5>
            			</td>
            		</tr>
            	</table>
            	<h2>What You Get</h2>
            	<p>
            	    When you order a website from me, you'll receive a complete, custom website featuring simple, clean, beautiful design which is responsive and mobile friendly.
            	</p>
            	<a href="/portfolio"><button class="btn">View My Projects</button></a>
            	<br />
            </div>
        </div>
        <div id="contact">
        	<h1>Contact Me</h1>
        	<h4>Contact me for a quote on your website</h4>
        	<form id="contact-form" action="/contact" method="POST" name="email-form">
                    <p>
                        <input type="text" name="name" placeholder="Your Name" required>
                    </p>
                    <p>
                        <input type="text" name="email" placeholder="Your Email" required>
                    </p>
                    <p>
                        <textarea name="message" rows="7" placeholder="What are you looking for in your website" required></textarea>
                    </p>
                    <p>
                        <input type="submit" id="submit" value="Send">
                    </p>
                </form>
                <br />
                <p>
                    If contact form doesn't submit, please email me at william@coughlindesigns.tech.
                </p>
        </div>
	</div>
	<script>
		$("#quote-btn").click(function(){
                $("html,body").animate({
                    scrollTop: $('#contact').offset().top
                }, "slow");
            });
            $("#nav-about").click(function(){
                $("html,body").animate({
                    scrollTop: $('#about').offset().top
                }, "slow");
            });
            $("#nav-services").click(function(){
                $("html,body").animate({
                    scrollTop: $('#services').offset().top
                }, "slow");
            });
            $("#nav-contact").click(function(){
                $("html,body").animate({
                    scrollTop: $('#contact').offset().top
                }, "slow");
            });
            $("#nav-home").click(function(){
            	$("html,body").animate({
            		scrollTop: $('#banner').offset().top
            	}, "slow");
            })
	</script>
</body>
</html>