<!DOCTYPE html>
<html>
<head>
	<title>Web Design Portfolio | Coughlin Designs</title>
	<link rel="stylesheet" type="text/css" href="portfolio.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Saira+Extra+Condensed" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="navbar">
		<div id="nav-inner">
			<h3 id="brand"><a href="/" id="nav-home">COUGHLIN DESIGNS</a></h3>
			<ul id="page-links">
				<li><a href="/" id="nav-about">About</a></li>
				<li><a href="/" id="nav-services">Services</a></li>
				<li><a href="/" id="nav-contact">Contact</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
			</ul>
			<ul id="social-links">
				<li><a href="https://www.facebook.com/Coughlin-Designs-127583511295705/"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/CoughlinDesigns"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
	</div>
	<div id="portfolio">
	    <h1>My Portfolio</h1>
	    <h4>View My Past Projects</h4>
	    <div class="port-entry">
	        <a href="http://sweetstitchesbykaren.com"><img class="port-img" src="images/sweet-stitches-screenshot.jpg"></a>
	        <h2>Sweet Stitches by Karen</h2>
	        <h4><a href="http://sweetstitches.com" class="site-link">sweetstitchesbykaren.com</a></h4>
	        <p class="description">
	            This is a website I built for my mom.  It's an ecommerce website to sell crocheted hats, clothes, and accessories.  I used Node.js, Express, and MongoDB for the stack.
	        </p>
	    </div>
	</div>
	
</body>
</html>